<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="loginstyle.css">
  <title>Log in failed</title>
</head>
<body>
  <div>
    Log in Failed
  </div>
  <p>Already have an account? Try again <a href="/login">Login</a></p>
  <p>Don't have an account? <a href="/signup">Signup</a></p>
</body>
</html>