<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="loginstyle.css">
  <title>Sign up failed</title>
</head>
<body>
  <div>
    Sign up Failed
  </div>
  <p>Try again signing up! <a href="/signup">Signup</a></p>
  <p>Already have an account? <a href="/login">Login</a></p>

</body>
</html>